:root {
    --cor-fundo: #0b0d20;
    --cor-principal: #2bdefd;
    --cor-texto: #FFFFFF;
    --cor-destaque: #212333;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.imagem-principal {}